.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto 1fr;
}

.app-header {
  grid-column: 1 / 3;
  grid-row: span 1;
  font-size: 2rem;
  text-align: center;
  padding: 0.3em;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
  background-color: #002b36;
  color: #fdf6e3;
}

.tree-header {
  font-size: 1.5rem;
  text-align: center;
  white-space: nowrap;
  padding: 0.3em;
  font-family: 'Nunito', sans-serif;
  background-color: #586e75;
  color: #fdf6e3;
}

.tree-cell {
  position: relative;
  background-color: #fdf6e3;
}

.tree-canvas {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
